@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(6, 100px);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  box-sizing: border-box;
  div {
    display: grid;
    border: 1px solid black;
    justify-items: center;
    align-items: center;
    transition: all 0.5s linear;
    counter-increment: count-of-day;
    &:hover {
      background-color: pink;
      cursor: pointer;
      transform: translate(0, -20px);
    }
    &::after {
      content: counter(count-of-day);
      font-family: Arial, sans-serif;
      font-size: 30px;
    }
  }

  &-mon div:first-child {
    grid-column-start: 1;
  }

  &-tue div:first-child {
    grid-column-start: 2;
  }

  &-wed div:first-child {
    grid-column-start: 3;
  }

  &-thu div:first-child {
    grid-column-start: 4;
  }

  &-fri div:first-child {
    grid-column-start: 5;
  }

  &-sat div:first-child {
    grid-column-start: 6;
  }

  &-sun div:first-child {
    grid-column-start: 7;
  }

  &-28 div:nth-child(29),
  div:nth-child(30),
  div:nth-child(31) {
    display: none;
  }

  &-29 div:nth-child(30),
  div:nth-child(31) {
    display: none;
  }

  &-30 div:nth-child(31) {
    display: none;
  }
}
